{{>header}}

<main>
    <!-- START: template component(s) -->
    <div class="container" id="section-1">
            
            <div class="login-selector">

                <div>
                    <h1>Ophalen personeelsgegevens</h1>
                    {{#authenticationOptions}}
                        <a href="{{{authUrl}}}" class="btn btn-primary waves-effect waves-light display-table {{class}}">
                            <span class="title">Ophalen personeelsgegevens</span>
                        </a>
                    {{/authenticationOptions}}
                    <a href="/disclose?type=employee" class="btn btn-primary waves-effect waves-light display-table btn-normal">
                        <span class="title"> Aantonen dat je bij Gemeente Nijmegen werkt </span>
                    </a>
                    <a href="https://www.nijmegen.nl/diensten/privacy/yivi-nieuwe-manier-van-inloggen/">Lees meer over Yivi</a>.
                </div>

                <div>
                    {{! 
                    <a href="/disclose?type=koffie" class="btn btn-primary waves-effect waves-light display-table btn-normal">
                        <span class="title"> Claim jouw gratis kop koffie in de kantine </span>
                    </a> 
                    <a href="/disclose?type=age" class="btn btn-primary waves-effect waves-light display-table btn-normal">
                        <span class="title"> Aantonen dat je 65 jaar of ouder bent </span>
                    </a>
                    }}
                </div>
                
            </div>

            {{!
            <hr/>
            <h1>Wat is Yivi?</h1>
            <p>
            Yivi is een app die u op uw mobiele telefoon kunt installeren. In de app staan
            al uw gegevens veilig achter een pincode op uw mobiel en alléén op uw mobiel. 
            Met Yivi kunt u bewijzen wie u bent, zonder dat u onnodige gegevens deelt.
            </p>

            <p>
            Met Yivi ziet u wat een organisatie van u wil weten. Als u bijvoorbeeld wil 
            meebeslissen over de stad, is het vaak voldoende om aan te tonen dat u in 
            Nijmegen woont of werkt. In andere gevallen zijn meer persoonsgegevens nodig, 
            zoals een burgerservicenummer of geboortedatum. Zo voorkomt u dat u onnodige 
            gegevens deelt.
            </p>
            <p>
            }}
            
    </div>
    <!-- END: template component(s) -->
</main>

{{>footer}}