{{>header}}

<main>
    <!-- START: template component(s) -->
    <div class="container" id="section-1">
            
            <div class="login-selector">

                <div>
                    <h1>Ophalen</h1>
                    <p class="lead">Login met je Gemeente Nijmegen account om je medewerkersgegevens in Yivi te laden.</p>
                    {{#authenticationOptions}}
                        <a href="{{{authUrl}}}" class="btn btn-primary waves-effect waves-light display-table {{class}}">
                            <span class="title"> Inloggen </span><span class="assistive">bij {{title}}</span>
                        </a>
                    {{/authenticationOptions}}
                </div>

                <div>
                    <h1>Checken</h1>
                    <p class="lead">Check met Yivi of iemand een medewerker van Gemeente Nijmegen is.</p>
                    <a href="/disclose" class="btn btn-primary waves-effect waves-light display-table btn-normal">
                        <span class="title"> Nu checken met Yivi </span>
                    </a>
                </div>
                
            </div>
            <hr/>
            <h1>Wat is Yivi?</h1>
            <p>
            Yivi is een app die u op uw mobiele telefoon kunt installeren. In de app staan
            al uw gegevens veilig achter een pincode op uw mobiel en alléén op uw mobiel. 
            Met Yivi kunt u bewijzen wie u bent, zonder dat u onnodige gegevens deelt.
            </p>

            <p>
            Met Yivi ziet u wat een organisatie van u wil weten. Als u bijvoorbeeld wil 
            meebeslissen over de stad, is het vaak voldoende om aan te tonen dat u in 
            Nijmegen woont of werkt. In andere gevallen zijn meer persoonsgegevens nodig, 
            zoals een burgerservicenummer of geboortedatum. Zo voorkomt u dat u onnodige 
            gegevens deelt.
            </p>
            <p><a href="https://www.nijmegen.nl/diensten/privacy/yivi-nieuwe-manier-van-inloggen/">Lees meer over Yivi</a>.
    </div>
    <!-- END: template component(s) -->
</main>

{{>footer}}