{{>header}}

<main>
    <!-- START: template component(s) -->
    <div class="container" id="section-1">
            <h1>Uitgelogd</h1>
            <p class="lead">U bent nu uitgelogd.</p>
            <a href="/" class="btn btn-primary waves-effect waves-light display-table btn-normal">Terug naar begin</a>
        </div>
    </div>

    <!-- END: template component(s) -->
</main>

{{>footer}}